{% extends "navbar.html" %}
{% load static %}
{% block title %} День рождения кафе  {% endblock title %}

{% block bk %} {% static "sobitiya/sobit.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000000 1px 1px 0, #000000 2px 2px 0,#000000 3px 3px 0,#000000 4px 4px 0; height: 50%; color:#E28090;"><br>День рождения кафе<br><br></h1></font>
<div class="container"  style="background-color: #202030;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-6" style="text-align: center;
        font-family : Lucida Calligraphy;
        font-size: 20px;">
      <p><font size="6">С днем рождения, наше кафе!</p></font>
      <p>В честь дня рождения нашего кафе, всем посетителям скидка 50% 4.03.21</p>
      <p style="text-align: justify;">Благодаря Вам, наши посетители, мы развиваемся и растем. Благодаря вам, мы дожили до этого дня! Нам уже год! Давайте вместе будем и дальше расти) <p>
<img src="ДР-сайта.jpg" width="500px" style="margin: 2%"></p>

    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock content %}
