{% extends "navbar.html" %}
{% load static %}
{% block title %} День эклера  {% endblock title %}

{% block bk %} {% static "sobitiya/sobit.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000000 1px 1px 0, #000000 2px 2px 0,#000000 3px 3px 0,#000000 4px 4px 0; height: 50%; color:#E28090;"><br>День эклера<br><br></h1></font>
<div class="container"  style="background-color: #202030;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-6" style="text-align: center;
        font-family : Lucida Calligraphy;
        font-size: 20px;">
      <p><font size="6">День эклера</p></font>
      <p>Мы приглашаем Вас на дегустацию эклеров. Дегустация будет проходить во всех наших точках сети кафе 12.03.21 с 12:00 по 18:00. Будем рады видеть Вас!</p>
      <p style="text-align: justify;">Те 2 сочетания, что Вам понравится больше всего, будут добавлены в ассортимент эклеров.</p>
      <p>
<img src="2.jpg" height="300px" style="margin: 2%">
</p>

    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock content %}