{% extends "navbar.html" %}
{% load static %}
{% block title %} День выпечки  {% endblock title %}

{% block bk %} {% static "sobitiya/sobit.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000000 1px 1px 0, #000000 2px 2px 0,#000000 3px 3px 0,#000000 4px 4px 0; height: 50%; color:#E28090;"><br>День выпечки<br><br></h1></font>
<div class="container"  style="background-color: #202030;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-6" style="text-align: center;
        font-family : Lucida Calligraphy;
        font-size: 20px;">
      <p><font size="6">Дегустация выпечки</p></font>
      <p>Мы приглашаем Вас на дегустацию нашей выпечки, которая будет проводится пекарями. Дегустация будет проходить в главной точке сети кафе 5.03.21 с 10:00 по 20:00. Будем рады видеть Вас!</p>
      <p style="text-align: justify;"> Наши пекари будут говорить что-то новое из выпечки, а Вы выберете три изделия, которые появятся в нашем меню. Этот день мы будем проводить раз в три года.</p>
      <p>
<img src="1.jpg" height="300px" style="margin: 2%"></p>

    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock content %}
