{% extends "navbar.html" %}
{% load static %}
{% block title %} День кофе  {% endblock title %}

{% block bk %} {% static "sobitiya/sobit.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000000 1px 1px 0, #000000 2px 2px 0,#000000 3px 3px 0,#000000 4px 4px 0; height: 50%; color:#E28090;"><br>День кофе<br><br></h1></font>
<div class="container"  style="background-color: #202030;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-6" style="text-align: center;
        font-family : Lucida Calligraphy;
        font-size: 20px;">
      <p><font size="6">Кофе-брейк</p></font>
      <p>Наши профессиональные бариста прямо пред вами будут готовить вам кофе и рисовать на пенке то, что Вы захотите. Мероприятие длится 24 часа во всех точках сети кафе. Начало мероприятия 10.04.21 в 8:00</p>
      <p style="text-align: justify;"></p>
      <p>
<img src="3.jpg" height="300px" style="margin: 2%"></p>

    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock content %}
