{% extends "navbar.html" %}
{% load static %}
{% block title %} Мастер-класс  {% endblock title %}

{% block bk %} {% static "sobitiya/sobit.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000000 1px 1px 0, #000000 2px 2px 0,#000000 3px 3px 0,#000000 4px 4px 0; height: 50%; color:#E28090;"><br>Мастер-класс по рисунку на пенке кофе<br><br></h1></font>
<div class="container"  style="background-color: #202030;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-6" style="text-align: center;
        font-family : Lucida Calligraphy;
        font-size: 20px;">
      <p><font size="6">Кофе-арт</p></font>
      <p>Мы приглашаем Вас на мастер-класс, который будут проводит наши бариста. Мастер-класс будет проходить во всех наших точках сети кафе 8.03.21 с 14:00 по 18:00. Будем рады видеть Вас!</p>
      <p style="text-align: justify;">Опытные бариста за пару минут способны несколькими точными движениями сделать из чашечки обычного капучино произведение искусства. Но даже не имея опыта, можно создать красивый рисунок на кофе, а называется процесс декорирования латте-артом, или кофе-артом.</p>
      <p>
<img src="one.jpg" height="300px" style="margin: 2%">
<img src="two.jpg" width="300px" style="margin: 2%">
<img src="three.jpg" height="300px" style="margin: 2%">
<img src="four.jpg" height="300px" style="margin: 2%"></p>

    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock content %}
