{% extends "navbar.html" %}
{% load static %}
{% block title %} Напитки  {% endblock title %}

{% block bk %} {% static "napitki/napitki.jpg" %}  {% endblock bk %}
{% block content %}
<h1 class="display-5" align="center"><font face="Lucida Calligraphy" style="text-shadow: #000 1px 1px 0, #000 2px 2px 0, #000 3px 3px 0; height: 50%; color:#F4D2D2"><br>Напитки<br><br></h1></font>
{% for product in Menu %}
<div class="container-fluid"  style="text-align: center; margin-top: 2%;
        font-family : Lucida Calligraphy;
        font-size: 20px; background-color: #79553D; color: #F4D2D2; opacity: .94;">
  <div class="row">
    <div class="col-sm" style="margin: 2%;">
      <p>{{product.name}}</p>
        <p>{{product.description}}</p>
    </div>
    <div class="col-sm" style="margin: 2%;">
      <p>{{ product.cost }} руб./чашка</p>
<form action="{% url "cart:cart_add" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %} <div class="row">
                            <div class="col-sm">
                                {{forms.quantity}}</div>
                            <div class="col-sm">
                                <input type="submit" value="Положить в корзину" style="background:#79443B;color:#F4D2D2; border-radius: 10px; border-color:#F4D2D2"></div></div>
</form>
    </div>
    <div class="col-sm" style="margin: 3%;">

      <img style="border-radius: 20px;"src="{{product.image.url}}">
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
